.title{
    font-size: 25px;
}


.l_small{
    font-size: 80px;user-select: none
}

.l_big{
    font-size: 130px;user-select: none
}

@media screen and (min-width: 607px) {
    #br_day{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .l_small{
        display: none;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1298px) {
    .l_small{
        font-size: 60px
    }
}

#add_countdown{
    background: #959595;
    transition: .3s;
    cursor: pointer;
}
#add_countdown:hover{
    background: #828282
}
#LSpace_imgWall img{
    margin: 3px;
    height: 200px;
}