
@media screen and (max-width: 768px) {
    #nav_lg{
        display: none;
    }
    .home_content{
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    #nav_sm{
        display: none;
    }
}
