.title{
    font-size: 25px;
}


.order_list{
    /*background: #E4E9F7;*/
    /*height: 700px;*/
    border-radius: 20px;
}


.order_card_list{

    /*background: #ffe3e3;*/
    background: #fff;

    /*height: 100px;*/
    border-radius: 20px;
}

.order_card_list_img{
    width: 100%;

}


.order_card_content{
    position: relative;
    border-left: 0.3px solid #d2d2d2;
}

.order_card_content_code{
    font-size: 35px;
}
.order_card_content_other{

    position: absolute;
    right: 15px;
    bottom: 0;
    color: #747576;
}

.order_card_content_time{
    font-size: 15px;
}

.order_delete{
    color: #dc3545;
}

.order_delete{
    transition: .4s;
    cursor: pointer;
}
.order_delete:hover{
    color: #71040f;
    font-weight: bolder;
}
